<div class="search-bar">
    <div class="container">
        <form action="/search" class="search-form" role="search" method="post">
            <input type="search" aria-label="Search" id="search-input" name="search-term" placeholder="Search here...">
        </form>
        <div id="search-close">Close</div>
    </div>
</div>